<div class="buttons">
  <button class="button button_all">ALL</button>
  <p class="output_all"></p>
  <!-- <input class = "input input_all" placeholder="push ALL"></input> -->
  <button class = "button button_search">SEARCH</button>
  <p class="output_search"></p>
  <!-- <input class = "input input_search" placeholder="push SEARCH"></input> -->
  <button class = "button button_details">DETAILS</button>
  <p class="output_details"></p>
  <!-- <input class = "input input_details" placeholder="push DETAILS"></input> -->
  <button class = "button button_YT">YOU TUBE</button>
  <p class="output_YT"></p>
  <!-- <input class = "input input_YT" placeholder="push YOU TUBE"></input> -->
</div>
