.buttons {
  display: flex;
  flex-direction: column;
  background-color: rgb(172, 255, 127);
}
.button {
  margin: 5 0 5 0;
  width: 20vw;
  min-width: 170px;
  max-width: 250px;
  height: 60px;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  color: rgb(87, 75, 108);
  background-color: rgb(174, 183, 239);
}
.input {
  width: 20vw;
  min-width: 170px;
  max-width: 250px;
}
.link {
  font-size: 25px;
  color: rgb(255, 0, 0);
  text-decoration: none;
}
